<div class="slider-wrapper">
    <div class="card-big" (click)="setMaxHeight()"></div>
    <ngx-slider [(value)]="cardSize" [options]="sliderOptions" (valueChange)="actualizarTamano()">
    </ngx-slider>
    <div class="card-small" (click)="setMinHeight()"></div>
</div>

@for (card of cards; track card.name) {
<app-card [card]="card"></app-card>
}
<img class="legend" src="icons/leyenda_iconos.png" matTooltip="Leyenda de iconos" matTooltipPosition="above" alt="">
<app-leyend id="app-leyend"></app-leyend>