<mat-dialog-content>
    <div class="title">
        <img class="rules" src="favicon.png">
        <h2 mat-dialog-title>Bienvenidos a ZooGenesis</h2>
        <img class="rules" src="favicon.png">
    </div>
    <hr>
    <h3>El juego de cartas coleccionables que solo existe en tu mente</h3>
    <!-- <p>{{ data.message }}</p> -->
    <div class="subtitle">
        <h4>Reglas del juego</h4>
        <img src="icons/reglas.png">
    </div>
    <div class="rules_container">
        <div class="rules">
            <img src="icons/uno.png">
            <p>Cada partida consta de 5 rondas.</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/dos.png">
            <p>Cada ronda, los jugadores eligen con que cartas jugarán.</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/tres.png">
            <p>Los jugadores colocan las cartas elegidas en su tablero, según convenga a su estrategia.</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/cuatro.png">
            <p>Cada carta ocupa de 1 a 3 espacios en tu tablero y en la primera ronda el tablero solo dispone de 2
                espacios.
            </p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/cinco.png">
            <p>Tras cada ronda, el tablero obtiene dos nuevos espacios. Hasta un total de 10</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/seis.png">
            <p>Las rondas funcionan por etapas, en las que las cartas se activan automáticamente y por orden</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/siete.png">
            <p>Algunas cartas hacen daño, otras curan y ¡otras pueden incluso comerse a tu oponente!</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/ocho.png">
            <p>Al final de la quinta ronda se hará un recuento del daño recibido por cada jugador y el que más daño haya
                causado será el ganador</p>
        </div>
        <br>
        <div class="rules">
            <img src="icons/nueve.png">
            <p>El ganador tendrá derecho a elegir una carta de las que jugó su oponente y quedarse con ella</p>
        </div>
    </div>
</mat-dialog-content>