h2, h3
    text-align: center

ol
    display: grid


    li
        display: inline flow-root list-item

        background-color: rgba(189, 59, 59, 0.4)

        border-radius: 25px / 50px

        padding: 4px
        margin: 4px