mat-dialog-content
    display: grid
    grid-template: 78px 10px 40px 58px 1fr / 1fr

    max-height: none

    .title
        display: flex
        justify-content: center
        align-items: center
        flex-flow: row nowrap

        padding-top: 10px

        img
            width: 40px

    .subtitle
        display: flex
        justify-content: flex-start
        align-items: center
        flex-flow: row nowrap

        margin-left: 30px

        img
            width: 30px

            margin-left: 10px

    h2, h3
        text-align: center

    hr
        width: 45%

    mat-stepper
        height: 100%

        ::ng-deep.mat-horizontal-content-container, ::ng-deep.mat-horizontal-stepper-wrapper
            height: 100%

            .rules
                display: inline-flex
                justify-content: flex-start
                align-items: center
                flex-flow: row nowrap

                background-color: rgba(190, 90, 90, 0.4)

                border-radius: 25px

                padding: 2px 2px 2px 3px
                margin: 4px 4px 4px 35px

                img
                    width: 40px

                    margin-right: 10px

                p
                    text-shadow: 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black
                    
                    margin: 0 20px 0 0

            .rules:nth-of-type(2n)
                background-color: rgba(192, 131, 131, 0.4)

                margin-left: 70px

            .aviso
                font-family: "Merienda", serif
                text-shadow: 0 1px red, 1px 0 red, -1px 0 black, 0 -1px black
                text-align: center

            .gigante
                font-size: 100px

            .grande
                font-size: 60px

                margin-top: 140px