@for (card of cards; track card.name) {
<div class="card {{card.rarity}}"
    [ngClass]="card.spaces === 1 ? 'card-small' : card.spaces === 2 ? 'card-medium' : 'card-large'" #cardElement
    [attr.data-name]="card.name_id">
    <div class="border"></div>
    <div id="{{card.name_id}}" class="card-body {{card.synergies.join(' ')}}">
        <div class="card-title">
            <p>{{card.name}}</p>
        </div>
        <div *ngIf="card.attack_value > 0" class="attack_value" matTooltip="Valor de ataque">
            <img [attr.src]="getAttackIcon(card)" alt="Ícono de ataque">
            <p>{{card.attack_value}}</p>
        </div>
    </div>
</div>
}
<img class="rules" src="favicon.png" matTooltip="Reglas del juego" alt="" (click)="openDialog()">
<img class="legend" src="icons/leyenda_iconos.png" matTooltip="Leyenda de iconos" matTooltipPosition="above" alt="">
<div class="legend_panel">
    <h1 class="col_span_3 mt-2 mb-3">Leyenda de iconos</h1>
    <div class="layout">
        <h3 class="col_span_2 mb-2">Iconos de efecto:</h3>
        <img src="/icons/accion.png">
        <p class="mt-1">Efectos de Acción. Ocurren cuando se activa la carta</p>
        <img src="/icons/constante.png">
        <p>Efectos constantes. Se activan tras la etapa de globales y permanecen activos hasta el final de la ronda.</p>
        <img src="/icons/desencadenado.png">
        <p>Efectos desencadenados. Se activan ante determinados estímulos, obteniendo prioridad total en el proceso.</p>
        <img src="/icons/global.png">
        <p>Efectos globales. Afectan por igual a los dos tableros. Se activan al comienzo de la ronda y permancen
            activos hasta su final.</p>
    </div>
    <div class="layout">
        <h3 class="col_span_2 mb-2">Iconos de Estadística</h3>
        <img src="/icons/ataque_estupido.png">
        <p class="mt-1">Valor de ataque de un monstruo sin inteligencia</p>
        <img src="/icons/ataque_inteligente.png">
        <p>Valor de ataque de un monstruo inteligente</p>
        <img src="/icons/escudo.png">
        <p>Valor de escudo del jugador</p>
        <img src="/icons/curacion.png">
        <p>Valor de curación</p>
    </div>
    <div class="layout">
        <h3 class="col_span_2 mb-2">Iconos de Estados alterados</h3>
        <img src="/icons/quemado.png">
        <p class="mt-1">Las criaturas quemadas ven su <img src="/icons/ataque_estupido.png" alt="Ícono de ataque">
            reducido a la mitad</p>
        <img src="/icons/congelado.png">
        <p>Las criaturas congeladas tienen los <img src="/icons/constante.png" alt="Ícono de efectos constantes">
            deshabilitados</p>
        <img src="/icons/corroido.png">
        <p>Las criaturas corroidas tienen los <img src="/icons/desencadenado.png" alt="Ícono de efectos desencadenados">
            deshabilitados</p>
    </div>
    <div class="layout layout_extended col_span_3">
        <h3 class="col_span_6 mb-2">Iconos de sinergias</h3>
        <img src="/icons/pequeño.png">
        <p class="mt-1">Cartas que ocupan <img src="/icons/uno.png"> espacio</p>
        <img src="/icons/grande.png">
        <p>Cartas que ocupan <img src="/icons/dos.png"> espacios</p>
        <img src="/icons/colosal.png">
        <p>Cartas que ocupan <img src="/icons/tres.png"> espacios</p>
        <img src="/icons/igneo.png">
        <p>La esencia del monstruo está directamente relacionada al fuego y/o el calor.</p>
        <img src="/icons/gelido.png">
        <p>La esencia del monstruo está directamente relacionada con el frio y/o la humedad.</p>
        <img src="/icons/corrosivo.png">
        <p>La esencia del monstruo está directamente relacionada al veneno y/o la erosión.</p>
    </div>
</div>