@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sedgwick+Ave+Display&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap"')
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap')
@import assets/css/_colores
@import assets/css/_fondoFancy
@import assets/css/_bootstrap

*
    box-sizing: border-box

body
    min-height: 100vh

    background-color: rgb(53, 53, 53)

    margin: 0

    .overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0

        background-color: rgba(0,0,0,0.5)

    .hover-dialog
        position: absolute
        min-width: 200px
        max-width: 600px

        display: grid
        grid-template: auto / 1fr 1fr

        font-family: 'Merriweather', serif
        color: rgba(0, 0, 0, .9)

        background: rgba(201, 153, 51, .8)
        border-radius: 8px
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)

        opacity: 1
        transform: scale(1)
        transition: opacity 0.2s ease, transform 0.2s ease
        z-index: 1000

        padding: 10px

        h1
            color: white
            text-shadow: 0 1px 2px black, 1px 0 2px black, -1px 0 2px black, 0 -1px 2px black, 0 7px 8px rgba(0, 0, 0, 0.8), -3px 0 8px rgba(0, 0, 0, 0.8)
            font-family: "Merienda", serif
            font-optical-sizing: auto
            font-weight: 100
            font-style: normal
            text-align: center

            border-radius: 5px
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4)

            margin: 0 0 15px 0

            &.bronce
                background: url('/background/bronce.png')
                background-size: 100% auto

            &.plata
                background: url('/background/plata.png')

            &.oro
                background: url('/background/oro.png')

            &.diamante
                background: url('/background/diamante.png')

        .rules_container, .augments_container
            div
                display: grid
                grid-template: auto / 25px 1fr
                justify-content: center
                align-items: center

                border-radius: 5px
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4)

                padding: 1px 6px 3px
                margin: 0px 6px 10px 6px

                p
                    color: white
                    text-shadow: 0 1px 2px black, 1px 0 2px black, -1px 0 2px black, 0 -1px 2px black, 0 7px 8px rgba(0, 0, 0, 0.8), -3px 0 8px rgba(0, 0, 0, 0.8)
                    font-family: "Merienda", serif
                    font-optical-sizing: auto
                    font-weight: 100
                    font-style: normal

                .title
                    grid-column: span 2

                    font-size: 14px
                    text-align: center

                    margin: 4px

                .list
                    font-size: 11px

                    padding: 5px 20px 5px 10px
                    margin: 2px

                    .disclaimer
                        width: 100%
                        font-size: 8px
                        text-align: right

                        img
                            width: 15px

                img
                    justify-self: flex-end

                    width: 20px

                &.accion
                    background-color: rgba(0, 0, 0, .3)

                &.constante
                    background-color: rgba(68, 156, 33, 0.3)

                &.desencadenado
                    // background-color: rgba(189, 189, 189, 0.295)
                    background-color: rgba(95, 0, 172, 0.295)

                &.global
                    background-color: rgba(59, 1, 1, 0.3)

                &.augments
                    background-color: rgba(138, 138, 138, 0.411)

    .hover-dialog-hidden
        opacity: 0
        transform: scale(0.95)
